.xxxx {
    /* 弹性盒子（注意：伪类:before和:after也会被影响） */
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* center水平居中；space-between两边对齐 */
    justify-content: center;
    /* 弹性盒子内元素设置，用于占满剩余空间 */
    flex: 1;
    /* 弹性盒子排列方式 */
    flex-flow: column;

    /* 垂直居中（父元素需要设置position: relative;或position: absolute;） */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 粘性布局（父元素需要设置overflow: visible;） */
    position: sticky;
    top: 0;

    /* 超出隐藏 */
    overflow: hidden;
    /* 超出部分显示省略号 */
    text-overflow: ellipsis;
    /* 文本不换行 */
    white-space: nowrap;

    /* 边框 */
    border: 1px dotted #ACACAC;
    /* 上边框是点状，右边框是实线，下边框是双线，左边框是虚线 */
    border-style: dotted solid double dashed;

    /* 背景 */
    background-image: url(__TMPL__/mobilepublic/assets/images/opus_bg_05.jpg);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;

    /* 背景色渐变 */
    background: linear-gradient(180deg, #C8E2FF 0%,#FFFFFF 20%, #FFFFFF 100%);
}

/* 带有attr="val"属性的元素 */
.xxxx[attr="val"] {}

/* 奇数 */
.xxxx:nth-child(2n-1) {}

/* 偶数 */
.xxxx:nth-child(2n) {}

/* 前4 */
.xxxx:nth-child(-n+4) {}

/* 4-最后 */
.xxxx:nth-child(n+4) {}

/* 4-8 */
.xxxx:nth-child(n+4):nth-child(-n+8) {}

/* 倒数第n个 */
.xxxx:nth-last-child(n) {}