[mysqld]
#mysql以什么用户运行
user=mysql
#mysql运行在哪个端口
port=3306
#服务id（唯一，建议为IP最后一个数字）
server-id=161
#mysql的数据目录
datadir=/server/tool/mysql-8.0.26/data
#mysql以socket方式运行的sock文件位置
socket=/server/tool/mysql-8.0.26/mysql.sock
#错误日志位置
log-error=/server/tool/mysql-8.0.26/log/mysqld-error.log
#进程文件位置
pid-file=/server/tool/mysql-8.0.26/run/mysqld.pid
#主库设置，指同步日志的文件名,默认在data目录下，也可直接指定一个路径
log-bin=/server/tool/mysql-8.0.26/log/mysql-bin

#是否支持符号链接，即数据库或表可以存储在my.cnf中指定datadir之外的分区或目录，为0不开启
#symbolic-links=0
#mysql最大接受的数据包大小
max_allowed_packet=1024M
#sql_mode模式，定义了你MySQL应该支持的sql语法，对数据的校验等等，限制一些所谓的‘不合法’的操作。mysql8取消了NO_AUTO_CREATE_USER
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

#设置日志的过期天数
#expire_logs_days=7
#启用gtid类型，否则就是普通的主从复制架构，开启这个模式时，从库也必须设置log-bin
gtid_mode=on
#强制GTID的一致性
enforce-gtid-consistency=1
#binlog日志格式，可选值“MIXED”、“ROW”、“STATEMENT”，在5.6版本之前默认为“STATEMENT”，5.6之后默认为“MIXED”；因为“STATEMENT”方式在处理一些“不确定”性的方法时会造成数据不一致问题，我们建议使用“MIXED”或者“ROW”
#binlog_format=ROW
#这个参数是对于MySQL系统来说是至关重要的，他不仅影响到Binlog对MySQL所带来的性能损耗，而且还影响到MySQL中数据的完整性。默认sync_binlog=0。也就是不做任何强制性的磁盘刷新指令，这时候的性能是最好的，但是风险也是最大的。因为一旦系统Crash，在binlog_cache中的所有binlog信息都会被丢失。而当设置为“1”的时候，是最安全但是性能损耗最大的设置。因为当设置为1的时候，即使系统Crash，也最多丢失binlog_cache中未完成的一个事务，对实际数据没有任何实质性影响。从以往经验和相关测试来看，对于高并发事务的系统来说，“sync_binlog”设置为0和设置为1的系统写入性能差距可能高达5倍甚至更多。具体值说明如下：sync_binlog=0，当事务提交之后，MySQL不做fsync之类的磁盘同步指令刷新binlog_cache中的信息到磁盘，而让Filesystem自行决定什么时候来做同步，或者cache满了之后才同步到磁盘。sync_binlog=n，当每进行n次事务提交之后，MySQL将进行一次fsync之类的磁盘同步指令来将binlog_cache中的数据强制写入磁盘。
#sync_binlog=0
#同步日志使用的内存大小
#binlog_cache_size=1M
#从库设置，slave保存同步中继日志的位置
relay_log=/server/tool/mysql-8.0.26/log/mysql-relay
#从库设置，当slave宕机后，假如relay-log损坏了，导致一部分中继日志没有处理，则自动放弃所有未执行的relay-log，并且重新从master上获取日志，这样就保证了relay-log的完整性
relay_log_recovery=1
#从库设置，是否自动清空不再需要中继日志时。默认为1
#relay_log_purge=1
#从库设置，设置为只读，防止从库数据修改后，主从数据不一致，但是有超级权限的账号还是有写的权限，所以要某个账号只读的话，可以去掉账号的超级权限
#read_only=1
#主库设置，不需要记录到同步日志的库
#binlog-ignore-db=information_schema
#binlog-ignore-db=mysql
#binlog-ignore-db=performance_schema
#binlog-ignore-db=sys
#主库设置，需要记录到同步日志的库
#binlog-do-db=
#从库设置，不需要同步的库
replicate-ignore-db=information_schema
replicate-ignore-db=mysql
replicate-ignore-db=performance_schema
replicate-ignore-db=sys
#从库设置，需要同步的库
#replicate-do-db=
#从库设置，不需要同步的库.表(%表示库内的全部表)
#replicate-wild-ignore-table = 数据库名字.表名字
#从库设置，需要同步的库.表(%表示库内的全部表)
#replicate-wild-do-table = 数据库名字.表名字
#同步时，把同步操作也记录到自己的同步日志文件中（当msyql同时是主库也是从库时，需要设置）
#log_slave_updates=1
#从库设置，从库复制时跳过指定错误防止中断复制（all表示跳过所有错误，或直接写错误码，多个逗号隔开）
#slave-skip-errors=1062,1053,1146
#设置为1时，slave复制不随mysql启动而启动，防止服务器意外重启，主从复制时容易造成1062的错误
#skip-slave-start=1
#主从复制时，网络中断，主从都没有察觉，从库等待该时间后（默认3600秒），才会认为网络故障，发起重连并同步这段时间的数据
#slave_net_timeout=60
#主从网络中断等待重连的时间，默认60秒
#master_connect_retry=
#检测到网络中断后，从数据库尝试重连主数据库的次数
#master_retry_count=